# High-level dependencies for development, linting, and testing.
-c requirements.txt

# Used to compile .in files into .txt files.
pip-tools
uv

# Testing framework and plugins
pytest
pytest-cov
pytest-mock
responses
schemathesis
dash
dash-bootstrap-components
plotly
simple-pid
prometheus-client
uvicorn
fastapi

# Linting and code formatting
ruff
jsonschema

# Application dependencies needed for tests
numpy
flask
requests
pyyaml
skidl
scipy
opencv-python
