# High-level dependencies for development, linting, and testing.

# Used to compile .in files into .txt files.
pip-tools

# Testing framework and plugins
pytest
pytest-cov
pytest-mock
responses

# Linting and code formatting
flake8
black
jsonschema
